{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
    function autoRefreshPage() {
        window.location = window.location.href;
    }
    setInterval('autoRefreshPage()', 60000);
</script>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">伺服器日誌</h1>
  </div>
    <div class="wraper">
      <div class="content">
        <div style=margin-top: 60px; position: relative;>
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
        </div>
        <table class="table table-striped table-sm dashboard">
          <thead>
            <tr align="middle">
              <td align="center" style="width:15%;">時間區間</td>
              <td>Cpu</td>
              <td>Mem</td>
              <td>Swap</td>
              <td style="color:rgb(255,0,0);">告警訊息</td>
            </tr>
          </thead>
          <tbody>
            {% for log in logs %}
            <tr align="middle">
              <td align="center">{{ log.datetime | date:'Y/m/d H:i:s' }}</td>
              <td class="dashboard">{{ log.cpuUsage }} %</td>
              <td class="dashboard">{{ log.memUsage }} %</td>
              <td class="dashboard">{{ log.swapUsage }} %</td>
              <td align="left" style="color:rgb(255,0,0);">{{ log.get_event_msg | linebreaks }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</main>
{% endblock %}
